<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="style/css" href="css/jobs.css">
  <title>About Us</title>
 </head>
 <body id="About_us">
   <h1> About Us </h1>
  <p> This website is designed to help mainly high school and college students earn money by doing simple jobs. </p>
 </body>
</html>