<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="style/css" href="css/jobs.css">
  <title>small jobs</title>
 </head>
 <body id = "babysitter_results">
   <h1> Babysitters: </h1>
   <h2> Name: <%= @name %> </h2>
   <h2> Number of kids he/she is willing to work with: <%= @kids %> </h2>
   <h2> Contact inforamtion: <%= @contact %> </h2>
   <h2> Zip Code: <%= @zip_code %> </h2>
 </body>
</html>