<!DOCTYPE html>
<html>
 <head>
    <link rel="stylesheet" type="style/css" href="css/jobs.css">
  <meta charset="UTF-8">
  <title>Babysitting</title>
 </head>
 <body id ="babysitter">
   <h1> Willing to babysit?? </h1>
   <h2> Put in your information below </h2>
    <form method ='POST' action='/babysitter_results'>
     <p> Name: <input type ='text' name='name'> </p>
      <p> How many kids are you willing to work with at most?: <input type ='text' name='kids'> </p>
      <p> Contact information: <input type ='text' name='contact'> </p>
      <p> Zip Code: <input type ='text' name='Zip_Code'> </p>
     <input type='submit'>
   </form>
      </body>
</html>