<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="style/css" href="css/jobs.css">
  <title>small jobs</title>
 </head>
 <body id = "Dog_Walking_results">
   <h1> Dog Walkers: </h1>
   <h2> Name: <%= @name %> </h2>
   <h2> Number of dogs he/she is willing to walk: <%= @dogs %> </h2>
   <h2> Contact information: <%= @contact %> </h2>
   <h2> Zip Code: <%= @zip_code %> </h2>
 </body>
</html>