<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Dog Walking</title>
 </head>
   <link rel="stylesheet" type="style/css" href="css/jobs.css">
 <body id ="dog_walking">
   <h1> Would you like to walk a dog?? </h1>
   <h2> Put in your information below </h2>
    <form method ='POST' action='/Dog_Walking_results'>
     <p> Name: <input type ='text' name='name'> </p>
      <p> How many dogs are you willing to walk at most?: <input type ='text' name='dogs'> </p>
      <p> Contact information: <input type ='text' name='contact'> </p>
      <p> Zip Code: <input type ='text' name='Zip_Code'> </p>
     <input type='submit'>
   </form>
      </body>
</html>