<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Grocery Shopping</title>
 </head>
   <link rel="stylesheet" type="style/css" href="css/jobs.css">
 <body id ="Grocery_Shopping">
   <h1> Willing to Grocery Shop?? </h1>
   <h2> Put in your information below </h2>
    <form method ='POST' action='/Grocery_Shopping_results'>
     <p> Name: <input type ='text' name='name'> </p>
      <p> Contact information: <input type ='text' name='contact'> </p>
      <p> Zip Code: <input type ='text' name='Zip_Code'> </p>
     <input type='submit'>
   </form>
      </body>
</html>