<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Small Jobs</title>
 </head>
  <link rel="stylesheet" type="style/css" href="css/jobs.css">
 <body id = "index">
   <h1> Small Jobs </h1>
   <h2> Select what you would like. <h2>
   <a class="button" href="/wants_jobs" >Want a job</a>
   <a class="button" href="/needs_someone" >Want someone to complete a job for you. </a>
   <a class="button" href="/About_us" >About Us</a>
 </body>
</html>

