<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Jobs</title>
 </head>
  <link rel="stylesheet" type="style/css" href="css/jobs.css">
 <body id = "needs_someone">
   <h1> What job would you like someone to do for you?. </h1>
   <a class="button" href="/read_babysitter_results" >Babysitters</a>
   <a class="button" href="/read_dog_walking_results" >Dog Walkers</a>
   <a class="button" href="/read_grocery_shopping_results" >Grocery Shoppers</a>
   <a class="button" href="/read_laundry_results" >Laundry Helpers</a>
   <a class="button" href="/read_tutoring_results" >Tutors</a>
   <a class="button" href="/read_plant_watering_results" >Plant Waterers</a>
   <a class="button" href="/read_pet_feeding_results" >Pet Feeders</a>
 </body>
</html>

