<!DOCTYPE html>
<html>
 <head>
   <link rel="stylesheet" type="style/css" href="css/jobs.css">
   <meta charset="UTF-8">
   <title>Pet Feeding</title>
 </head>
 <body id ="Pet_Feeding">
   <h1> Want to feed someone's pet? </h1>
   <h2> Put in your information below </h2>
    <form method ='POST' action='/Pet_Feeding_results'>
     <p> Name: <input type ='text' name='name'> </p>
      <p> Contact information: <input type ='text' name='contact'> </p>
      <p> Zip Code: <input type ='text' name='Zip_Code'> </p>
     <input type='submit'>
   </form>
      </body>
</html>