<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Laundry</title>
 </head>
   <link rel="stylesheet" type="style/css" href="css/jobs.css">
 <body id ="Tutoring">
   <h1> Willing to tutor someone?? </h1>
   <h2> Put in your information below </h2>
    <form method ='POST' action='/Tutoring_results'>
     <p> Name: <input type ='text' name='name'> </p>
      <p> What subject or subject's would you like to tutor in?: <input type ='text' name='subject'> </p>
      <p> Contact information: <input type ='text' name='contact'> </p>
      <p> Zip Code: <input type ='text' name='Zip_Code'> </p>
     <input type='submit'>
   </form>
      </body>
</html>